@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.full-document {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  color: var(--accent-button-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-text {
  color: var(--primary-text-color);
}

.footer-logo {
  color: var(--accent-button-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}

.text-logo-footer {
  color: var(--white-button-color);
}

.page-header {
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--white-button-color);
  border-bottom: 1px solid var(--border-header-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Site-nav */
.nav-title {
  display: flex;
}

.site-nav {
  margin-left: 93px;
}

.site-nav .current {
  color: var(--accent-button-color);
  transition: color 250ms var(--transition-timing-function);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition: color 250ms var(--transition-timing-function);
}

.address-nav {
  margin-left: auto;
}

.address-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  color: var(--title-text-color);
  transition: color 250ms var(--transition-timing-function);
}

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.site-nav a:hover,
.auth-nav .link:hover,
.site-nav a:focus,
.auth-nav .link:focus {
  color: var(--accent-button-color);
}

.site-nav .link.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  border-bottom: 4px solid var(--accent-button-color);
}

.icon-nav {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav .mailto {
  width: 16px;
  height: 12px;
}

.auth-nav .tel {
  width: 10px;
  height: 16px;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.overlay {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background: var(--black-bgc);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--white-button-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.form-input {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 35px;
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--transition-timing-function);
}

.form-btn {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-button-color);
  background-color: var(--accent-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--transition-timing-function);
}

.hero .btn {
  padding: 10px 32px;
  color: var(--white-button-color);
  background-color: var(--accent-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-timing-function);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  background-color: var(--white-button-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: transparent;
  transition: color 250ms var(--transition-timing-function);
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: color 250ms var(--transition-timing-function);
}

.btn-close:focus,
.btn-close:hover {
  color: var(--accent-button-color);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 12px;
  margin-left: 0;
  display: block;
  text-align: center;
  min-width: 448px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
}

.form-lable {
  display: contents;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-lable:not(:last-child) {
  margin-bottom: 4px;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--focus-button-color);
  cursor: pointer;
}

.mod-icon {
  display: inline-block;
  top: 75%;
  left: 12px;
  transform: translateY(-75%);
  position: absolute;
  color: var(--primary-text-color);
  transition: color 250ms var(--transition-timing-function);
}

.form-input:focus ~ .mod-icon {
  fill: var(--accent-button-color);
}

.form .form-input:focus {
  border-color: var(--accent-button-color);
  outline-style: none;
}

.comment {
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: border-color 250ms var(--transition-timing-function);
}

.comment:focus::placeholder {
  font-size: 14px;
  line-height: 1.14;
}

textarea {
  resize: none;
}

.contract {
  margin-left: 4px;
  position: relative;
  color: var(--accent-button-color);
}

.contract::before {
  position: absolute;
  left: 0;
  bottom: 4px;
  content: "";
  height: 1px;
  width: 100%;
  background-color: currentColor;
}

.checkbox-lable {
  margin-bottom: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

/* .checkbox {
  appearance: none;
  position: absolute;
} */
/* .visually-hidden */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  display: flex;
  align-items: center;
}

.check-icon::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function), background-image 250ms var(--transition-timing-function);
}

.checkbox:checked + .check-icon::before {
  border-color: var(--accent-button-color);
  background-color: var(--accent-button-color);
  background-repeat: no-repeat;
  background-position-y: center;
  background-origin: border-box;
  background-image: url(../images/Vector-check.svg);
  background-size: contain;
}

/* Оверлей */
.overlay-project {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.overlay-text {
  position: absolute;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;
  transform: translateY(100%);
  color: var(--accent-button-color);
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--transition-timing-function);
}

.project-list .item:hover .overlay-text,
.project-list .item:focus .overlay-text {
  transform: translateY(0%);
}

.section-feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 10px;
}

.text-feature {
  font-weight: 400;
  margin: 0 auto;
}

.feature-list .item {
  width: 270px;
}

.icon-style {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  background: var(--secondary-white-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.icon-feature {
  width: 70px;
  height: 70px;
}

.section-sample {
  flex-direction: column;
  padding-bottom: 94px;
}

.sample-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.sample-list {
  display: flex;
  justify-content: space-between;
}

.sample-list .item:not(:last-child) {
  margin-right: 30px;
}

.sample-list .item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.signature {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.section-workers {
  padding-top: 94px;
  padding-bottom: 94px;
  flex-direction: column;
  background-color: var(--secondary-white-color);
}

.workers-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.workers-list {
  display: flex;
  justify-content: space-between;
}

.workers-list .item {
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers-list .item:not(:last-child) {
  margin-right: 30px;
}

.name-workers {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.workers p {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.description-worker {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  background-color: var(--primary-white-color);
}

.description-worker .soc-list {
  display: flex;
  justify-content: center;
}

.soc-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  color: var(--icon-color);
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.soc-icon:hover,
.soc-icon:focus {
  color: var(--white-button-color);
  background-color: var(--accent-button-color);
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 87px;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17px;
  min-height: 42px;
  justify-content: center;
  align-items: center;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  cursor: pointer;
  transition: color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}

.clients-icon {
  fill: currentColor;
}

.clients-icon:hover,
.clients-icon:focus,
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-button-color);
  border-color: var(--accent-button-color);
}

.section-footers {
  background-color: var(--black-bgc);
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footers {
  display: flex;
  align-items: baseline;
}

.contacts-list {
  display: flex;
  flex-direction: column;
}

.contacts-list .item {
  font-weight: 400;
  font-style: normal;
}

.contacts-list .maps {
  color: var(--white-button-color);
}

.contacts-list a {
  color: var(--contacts-list-color);
}

.contacts-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.sign {
  margin-top: 0;
  margin-right: 0;
  margin-left: 70px;
  margin-bottom: 0;
}

.sign-title {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  min-height: 16px;
}

.sign .icon {
  fill: var(--primary-white-color);
}

.soc-list li:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 93px;
}

.subscribe-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.form-footer {
  display: flex;
}

.footer-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input {
  margin-right: 12px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  min-width: 358px;
  min-height: 50px;
  color: var(--contacts-list-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe .btn {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  max-width: 200px;
  display: flex;
  color: var(--white-button-color);
  background-color: var(--accent-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscribe .send {
  margin-left: 10px;
}

.section-filters {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  text-align: center;
  margin-bottom: 34px;
}

.filters-list .item:not(:last-child) {
  margin-right: 8px;
}

/* Button Portfolio*/
.button-filter {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);
  border-color: transparent;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function), border-radius 250ms var(--transition-timing-function);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-button-color);
  color: var(--white-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-list .item {
  /* width: calc((100% - 60px) / 3); */
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  min-height: 404px;
  background-color: var(--white-button-color);
}

.project-list .item:nth-child(3n) {
  margin-right: 0px;
}

.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-title {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-left: 1px solid var(--solid-border-color);
  border-right: 1px solid var(--solid-border-color);
  border-bottom: 1px solid var(--solid-border-color);
}

.project-link {
  display: block;
  transition: box-shadow 250ms var(--transition-timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.project-list .circle {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  margin: 0px auto;
}
/*# sourceMappingURL=main.css.map */