.section-clients {
  @extend %padding-section;
}
.clients-title {
  @include title-h2;
  min-height: 42px;
}
.clients-list {
  @extend %flex-row;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  width: 170px;
  height: 90px;
  @include flex-row(center);
  border: 1px solid $icon-color;
  border-radius: 4px;
  color: $icon-color;
  cursor: pointer;
  transition: color 250ms $transition-timing-function,
    border-color 250ms $transition-timing-function;
  &:hover,
  &:focus {
    color: $accent-button-color;
    border-color: $accent-button-color;
  }
}
.clients-icon {
  fill: currentColor;
  &:hover,
  &:focus {
    color: $accent-button-color;
    border-color: $accent-button-color;
  }
}
