.section-clients {
  padding-top: 94px;
  padding-bottom: 87px;
}
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17px;
  min-height: 42px;
  @include flex-row;
}
.clients-list {
  @extend %flex-row;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  width: 170px;
  height: 90px;
  @extend %flex-row;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  cursor: pointer;
  transition: color 250ms var(--transition-timing-function),
    border-color 250ms var(--transition-timing-function);
}
.clients-icon {
  fill: currentColor;
}
.clients-icon:hover,
.clients-icon:focus,
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-button-color);
  border-color: var(--accent-button-color);
}
