.section-feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  @extend %flex-row;
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}
.feature-title {
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-text-color;
}
.text-feature {
  font-weight: 400;
  margin: 0 auto;
}
.feature-list .item {
  width: 270px;
}
.icon-style {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: $secondary-white-color;
  border-radius: 4px;
  @include flex-row(center);
}
.icon-feature {
  width: 70px;
  height: 70px;
}
