.section-workers {
  padding-top: 94px;
  padding-bottom: 94px;
  flex-direction: column;
  background-color: var(--secondary-white-color);
}
.workers-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.workers-list {
  display: flex;
  justify-content: space-between;
}
.workers-list .item {
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.workers-list .item:not(:last-child) {
  margin-right: 30px;
}
.name-workers {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
.workers p {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}
.description-worker {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  background-color: var(--primary-white-color);
}
.description-worker .soc-list {
  display: flex;
  justify-content: center;
}
.soc-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  color: var(--icon-color);
  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function);
}
.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.soc-icon:hover,
.soc-icon:focus {
  color: var(--white-button-color);
  background-color: var(--accent-button-color);
}
