*,
*::before,
*::after {
  box-sizing: inherit;
}
.list {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.full-document {
  color: $title-text-color;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: $primary-white-color;
  text-decoration: none;
}
